<div id='legenda'  title='Legenda de Eventos'>
  <p><%= image_tag 'icons/16x16/error.png' %>&nbsp;Evento por confirmar</p>
  <p><%= image_tag 'icons/16x16/cancel.png' %>&nbsp;Evento cancelado</p>
  <p><%= image_tag 'icons/16x16/tick.png' %>&nbsp;Evento confirmado</p>
</div>